In [2]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('datasets_1361_2454_horse.csv')

# какие типы признаков в нашем датафрейме?
df.head()

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,74.0,7.4,NaN,NaN,died,no,4300,0,0,no

Задание 1. Базовое изучение

Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

8 столбцов:
age 	
rectal_temp
pulse 
mucous_membrane
abdomo_appearance
abdomo_protein
outcome 
surgical_lesion

In [10]:
df2 = df[['age','rectal_temp','pulse','mucous_membrane','abdomo_appearance','abdomo_protein','outcome','surgical_lesion']]
df2.rectal_temp

0      38.5
1      39.2
2      38.3
3      39.1
4      37.3
       ...
294     NaN
295    37.2
296    37.5
297    36.5
298    37.2
Name: rectal_temp, Length: 299, dtype: float64

In [6]:
df2.describe()

       rectal_temp       pulse  abdomo_protein
count   239.000000  275.000000      101.000000
mean     38.168619   72.000000        3.039604
std       0.733744   28.646219        1.967947
min      35.400000   30.000000        0.100000
25%      37.800000   48.000000        2.000000
50%      38.200000   64.000000        2.300000
75%      38.500000   88.000000        3.900000
max      40.800000  184.000000       10.100000

 Таким образом, числовыми выбранными для анализа столбцами стали: пульс, температура тела и анализ белка. 
Исходя из предоставленной информации 30-40 ударов- нормально для взрослых лошадей. Животные с болезненными поражениями или страдающие от шока кровообращения могут иметь повышенную частоту сердечных сокращений, так мы можем увидеть, что максимальное значение пульса доходит аж до 184 ударов.
Температура тела здоровой лошади - 37,8

 Как повышенная температура, так и пониженная температура может возникнуть из-за инфекции. Минимальное значение температу в датасете - 35.4, а максимальная 40.8
 
 Чем выше общий белок, тем больше вероятность нарушения работы кишечника.Значения в датасете колеблются от 0.1 до 10.1 гр/литр.

Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

Больше всего вопросов возникает по данным пульса. В датасете имеются значения пульса 184 удара, огда как нормальным считается 30-40 ударов.  Мне кажется, будет рациональным убрать ураганные содержания именно из этого столбца.

In [14]:
q1 = df2.pulse.quantile(0.25)
q3 = df2.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df2[df2.pulse.between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

,age,rectal_temp,pulse,mucous_membrane,abdomo_appearance,abdomo_protein,outcome,surgical_lesion
0,adult,38.5,66.0,NaN,NaN,NaN,died,no
1,adult,39.2,88.0,pale_cyanotic,cloudy,2.0,euthanized,no
2,adult,38.3,40.0,pale_pink,NaN,NaN,lived,no
4,adult,37.3,104.0,dark_cyanotic,NaN,NaN,died,no
6,adult,37.9,48.0,normal_pink,NaN,NaN,lived,yes
...,...,...,...,...,...,...,...,...
294,adult,NaN,120.0,pale_cyanotic,NaN,NaN,euthanized,no
295,adult,37.2,72.0,pale_cyanotic,serosanguious,3.3,euthanized,yes
296,adult,37.5,72.0,pale_cyanotic,NaN,NaN,died,yes
297,adult,36.5,100.0,pale_pink,serosanguious,3.4,lived,yes
298,adult,37.2,40.0,NaN,clear,1.0,euthanized,no

Изначально в датасете было 299 строк, после удаления ураганов из столбца пульса стало 270

Задание 3. Работа с пропусками

Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [22]:

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                299 non-null    object
 1   rectal_temp        239 non-null    float64
 2   pulse              275 non-null    float64
 3   mucous_membrane    252 non-null    object
 4   abdomo_appearance  134 non-null    object
 5   abdomo_protein     101 non-null    float64
 6   outcome            299 non-null    object
 7   surgical_lesion    299 non-null    object
dtypes: float64(3), object(5)
memory usage: 18.8+ KB

In [23]:

for col in df2.columns:
    pct_missing = df2[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

age - 0.0%
rectal_temp - 20.1%
pulse - 8.0%
mucous_membrane - 15.7%
abdomo_appearance - 55.2%
abdomo_protein - 66.2%
outcome - 0.0%
surgical_lesion - 0.0%

Таким образом, пропуски присутствуют в столбцах: rectal_temp,pulse,mucous_membrane(слизистые оболочки),abdomo_appearance(вздутие живота),abdomo_protein(общий белок брюшной полости)

Я думаю, что пропуски данных в столбце mucous_membrane незначительны и их можно просто игнорировать

In [ ]:
rectal_temp и pulse заполнить медианной

In [16]:

df2.rectal_temp.fillna(df2.rectal_temp.median(), inplace=True)
df2.rectal_temp.fillna(df2.rectal_temp.median()).isna().sum()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

0

In [ ]:
df2.pulse.fillna(df2.pulse.median(), inplace=True)
df2.pulse.fillna(df2.pulse.median()).isna().sum()

abdomo_appearance и abdomo_protein я хочу заменить наиболее часто встречающимеся значениями

In [19]:

df2.abdomo_appearance.fillna(df2.abdomo_appearance.mode()[0], inplace=True)
df2.abdomo_protein.fillna(df2.abdomo_protein.mode()[0], inplace=True)